<%- include('cabecalho.ejs')%>
    <h1>Bermuda XXXXX</h1>
    <div>
        Nome:<%=nome%><br>
        Preço:<%=preco%><br>
        Tamanhos:<%=tamanhos%><br>
    </div>
    <div>
        Bermuda da Barbie - R$70,00 
        <a href="/camisa/barbie">Ver +</a>
    </div>

    <%- include('rodape.ejs')%>